<div class="container-fluid">
  <div class="titleBar">
    <h2>{{appTitle}}</h2>
  </div>
  <div class="addForm">
    <h4>Add an article:</h4>
    <form ng-submit="addArticle()">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="text" placeholder="Title" ng-model="form.title" required></input><br>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="url"  placeholder="URL" ng-model="form.url"></input><br>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input type="text" placeholder = "Reading Level" ng-model="form.level"></input><br>
        </div>
         <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row recordListCard" ng-repeat="article in articles | orderBy: 'level'">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <a href="#/articles/{{article.id}}"><h4>{{article.id}}. {{article.title}}</h4></a>
      <div class="recordListCardContent" ng-show="show[article.id]">
         <a href="{{article.url}}">{{article.url}}</a>
        <div ng-show="show[article.id] && article.level">Reading Level: {{article.level}}</div>
        <div class="recordListCardDetails">
          <h5 ng-show="article.details.length"> Details: </h5>
          <ul ng-repeat="detail in article.details">
            <li>{{detail.body}}</li>
          </ul>
        </div>
        <br>
        <button ng-click="deleteArticle(article.id)"" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <button ng-click="toggle(article.id)" ng-hide="show[article.id]" class="btn btn-default">More</button>
      <button ng-click="toggle(article.id)" ng-show="show[article.id]" class="btn btn-default">Less</button>
    </div>
  </div>
</div>