<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>{{article.title}}</h2>
		</div>
		<div class="col-md-4">
			<h4> 
	 		<a ng-show="article.url" href="{{article.url}}">{{article.url}}</a> 
			</h4>
		</div>
		<div class="col-md-4">
			<p>Reading Level: {{article.level}}</p>
		</div>
	</div>
	<div class="row">
		<p ng-hide="!article.details.length">Details:</p>
		<ul ng-repeat="detail in article.details">
		  <li>{{detail}}</li>
		</ul>
		<form ng-submit="addDetail()">
		  <input type="text" placeholder="Add a detail" ng-model="newDetail"></input>
		  <button type="submit">Submit</button>
		</form>
	</div>
	<a href="#/home">Back</a>
</div>