<h2>{{appTitle}}</h2>
<h4>Add an article:</h4>
<form ng-submit="addArticle()">
  <input type="text" placeholder="Title" ng-model="form.title" required></input><br>
  <input type="url"  placeholder="URL" ng-model="form.url"></input><br>
  <input type="text" placeholder = "Reading Level" ng-model="form.level"></input><br>
  <button type="submit">Submit</button>
</form>
<div ng-repeat="article in articles | orderBy: 'level'">
  <h4>{{article.title}}</h4>
  <a href="{{article.url}}">{{article.url}}</a>
  <div ng-hide="!article.level">Reading Level: {{article.level}}</div>
  <a href="#/articles/{{article.id}}"><button>See details</button></a>
  <button ng-click="deleteArticle(article.id)">Delete</button>
  <br>
</div>